body {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}


/* header */

.top-bar.warning.is-mobile {
    display: none;
}

.is-desctop {
    margin-top: -8px;
}

.top-bar {
    background: #5D4954;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fff;
}

.top-bar.is-desktop.no-float {
    float: none;
}

div.top-bar.warning {
    background-color: #000;
    margin-top: -20px;
}

.top-bar img {
    width: 15%;
}

a.logo {
    text-align: center;
}

.top-bar p {
    color: #fff;
    text-align: center;
}

.top-bar,
.section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6,
.section-7,
.section-8,
.section-9 {
    float: left;
    width: 100%;
    min-width: 1004px;
}


/* section 1 */

.section-1.is-desktop {
    background: url(../images/selection-1-background.jpg) center top no-repeat;
    position: relative;
    z-index: 1;
    background-position: center;
    background-size: cover;
}

.section-1.is-desktop.column {
    padding: 0!important;
}

span.red {
    color: red;
}

span.color {
    color: #b5384e;
}

.fa-circle-plus:before,
.fa-plus-circle:before {
    font-size: 15px;
}

.fa.fa-plus-circle.is-spaced {
    margin-right: 5px!important;
}

.order-button {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.order-button button {
    font-weight: 700;
    color: #fff!important;
    text-transform: uppercase;
}

.order-button button:hover {
    color: #fff;
}

button.button.effect-5 {
    background-color: #e62e3b;
    position: initial;
}

button.button.effect-5 {
    font-weight: 700;
}

.order-button button {
    user-select: none;
    background-color: #e62e3b;
    color: #bfbfbf;
    border: 1px solid #000;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 3px 5px #000;
    -webkit-box-shadow: 0 3px 5px #000;
    -o-box-shadow: 0 3px 5px #000;
    -ms-box-shadow: 0 3px 5px #000;
    box-shadow: 0 3px 5px #000;
    width: 220px;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px 25px;
}

.order-button button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

button.order-btn.is-bordered {
    box-shadow: 0 3px 5px #000;
}

.box-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 235px;
}

.box-2.second-box {
    margin: 0;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.is-bold {
    font-weight: 700;
    margin-left: 10px;
}

.column.is-two-thirds {
    width: 60%!important;
}

#counter {
    width: 100%!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    padding: 0 80px;
}

.columns.is-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto!important;
}

.order-section-1.is-mobile {
    display: none;
}

.sec-left {
    display: flex;
    justify-content: left;
}

.strip1-mobile {
    float: left;
    background: url(../images/backgr-mobile.jpg) no-repeat center top;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.strip1-mobile-second {
    float: left;
    background: url(../images/backgr-mobile3.jpg) no-repeat center top;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #e62e3b;
    background-size: cover;
}

.box-2.no-top-margin {
    margin: 0;
}

.box-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.box-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-4 img {
    width: 95%;
}

.strip1-mobile img {
    width: 30%;
}

div.order-section-2.is-mobile {
    display: none;
}

.column .is-one-third {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-cream-image {
    position: relative;
    top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-cream-image img {
    max-width: 100%;
}

.section-1.is-mobile {
    background: url(../images/mobile-bckg.jpg);
    background-size: cover;
    display: none;
}

.face-mobile-image {
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 35px solid #494949;
}

.column .is-two-thirds {
    float: left;
    width: 688px;
    margin: -81px 0 0 0;
}

.header-sec1-text1 {
    margin: 0px 0 0 0px;
    color: #000000;
    font-family: 'Glypha LT Std';
    font-size: 29px;
    text-transform: uppercase;
    line-height: 29px;
    letter-spacing: -0.8px;
    font-weight: 300;
}

.header-sec1-text2 {
    color: #5D4954;
    font-family: 'Geomanist';
    font-size: 50px;
    letter-spacing: -3.5px;
    line-height: 54px;
    margin: 0px 0 0 0px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
}

.header-sec1-text3 {
    margin: 0px 0 0 0px;
    color: #000;
    font-family: 'Geomanist';
    font-weight: 500;
    font-size: 50px;
    line-height: 47px;
    letter-spacing: -1px;
    text-align: center;
}

.header-sec1-text4 {
    margin: 0px 0 0 0px;
    color: #000;
    font-family: 'Geomanist';
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -1px;
}

.header-text {
    text-align: center;
}

.mobile-header-text {
    text-align: center;
    margin-top: 15px;
}

#woman-before-after.column {
    width: 100%;
    padding: 0!important;
}

#counter,
#counter2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #000;
    border-radius: 4px;
    padding: 0;
    background-color: #f2f2f2;
}

h2.sale {
    background-color: #0f93d0;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding: 10px;
}

h3.sale-1 {
    font-size: 28px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.timerOuterDiv,
.timerOutersDiv {
    width: 275px;
    margin: auto;
}

.timerDiv1,
.timersDiv1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
}

h4#timerDays-1 {
    color: #458aac;
    font-size: 40px;
}

.timerDiv,
.timersDiv {
    float: left;
    width: 85px;
    text-align: center;
    background: #bfbfbf;
    color: #000;
    font-weight: 600;
    border-radius: 4px;
    margin-left: 5px;
    padding-bottom: 13px;
    border: 2px solid #000;
}

#hours,
#minutes,
#hours2,
#minutes2,
#hours3,
#minutes3,
#hours4,
#minutes4 {
    font-size: 35px!important;
    margin: 6px 0px;
    color: #000;
}

#seconds,
#seconds2,
#seconds3,
#seconds4 {
    font-size: 35px!important;
    margin: 6px 0px;
    color: #e43333;
}

.columns {
    margin-left: 0!important;
    margin-right: 0!important;
    margin-top: 0!important;
}

.column .is-one-fifth {
    left: 15%;
    position: absolute;
    margin-top: 35px;
    z-index: 999;
}

.clearall {
    clear: both;
    font-size: 1px;
    line-height: 1px;
}

.sec1-txt1 {
    font-size: 24px;
    text-align: left;
    float: left;
    padding: 20px 0 0 0px;
    line-height: 20px;
    color: #5D4954;
    font-weight: 600;
}

.mobile-introduce .mobile-columns {
    display: flex;
    justify-content: center;
}

.column.is-offset-1,
.column.is-offset-1-tablet {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column .is-2 {
    margin-top: 5%;
}

.sec1-txt2 {
    color: #000;
    font-size: 18px;
    line-height: 20px;
    padding: 6px 0 0 0;
}

.sec1-list-item {
    margin: 40px 0 0 250px;
    float: left;
}

.sec1-list-item li {
    margin: 0 0 0 0;
    background: url(../images/icon-1.png) no-repeat left 0px;
    padding: 0 0 10px 68px;
    line-height: 29px;
}

.sec1-list-item li:nth-child(2) {
    background: url(../images/icon-2.png) no-repeat left 0px;
}

.sec1-list-item li:nth-child(3) {
    background: url(../images/icon-3.png) no-repeat left 0px;
}

.list-top {
    font-size: 24px;
    color: #5D4954;
    font-family: 'Geomanist';
    font-weight: 500;
    margin: 0px 0 3px 0;
    line-height: 1;
}

sup {
    top: -0.5em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.list-top span {
    font-weight: 300;
    font-family: 'Hind', sans-serif;
    color: #000;
    font-size: 20px;
}

.cream-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cream-image img {
    width: 80%;
    margin-top: 30px;
}

.mobile-introduce {
    width: auto;
    margin-top: 50px;
}

.seal {
    left: 50%;
    margin-top: 50px;
    text-align: center;
}

div.tick-box {
    margin-top: 20px;
    display: flex;
    flex-direction: row!important;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ul-row li {
    padding: 0 10px;
}

.ul-row {
    display: flex;
}

span.blue {
    color: #3784b8;
}

.purple-check {
    color: #7145a4;
}


/* BEGIN TIMER */

div.column .is-one-third {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-column {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-column .discount {
    top: 0px;
}

.discount_sale {
    display: none;
}

.clock {
    margin-bottom: 0px;
    text-align: center;
    color: #000;
}

.clock ul {
    padding: 0;
    margin-top: 15px;
}

ul {
    list-style: none;
}

.time li {
    display: inline-block;
    width: 23%;
    margin-right: 2%;
    font-size: 17px;
    font-weight: 600;
    background: #fff;
}

.time li div {
    font-size: 35px;
    font-weight: bold;
    border-radius: 5px;
    color: #ff0000;
    margin-bottom: 4px;
    padding: 5px;
}

.wrap-button,
.order-wrap {
    display: flex;
}

.wrap-button.is-marginless {
    margin: 30px 0;
}

.wrap-button.no-margin {
    margin: 0;
}

.column .is-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-btn {
    user-select: none;
    background-color: #e62e3b;
    border: 3px solid;
    transition: 0.5s ease-in-out;
    font-size: 23px;
    height: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 25px;
    width: 270px;
    font-weight: bold;
    color: #FFF;
    border-radius: 15px;
    text-transform: uppercase;
}

.pulse {
    /* Chrome, Safari, Opera */
    -webkit-animation: PULSE 1s infinite;
    /* Internet Explorer */
    -ms-animation: PULSE 1s infinite;
    /* Standard Syntax */
    animation: PULSE 1.25s infinite;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes PULSE {
    0% {
        color: #000;
    }
    110% {
        color: black;
    }
}


/* Internet Explorer */

@-ms-keyframes PULSE {
    0% {
        color: #000;
    }
    110% {
        color: black;
    }
}


/* Standard Syntax */

@keyframes PULSE {
    0% {
        color: #000;
    }
    110% {
        color: black;
    }
}

.order-btn:hover {
    background-color: #9e152f;
}

.order-btn a {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.order-btn a:hover {
    color: #fff;
}

.button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 75px;
    margin: 0 20px;
    text-decoration: none;
    padding: 1.5em 4em!important;
}

.button a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.button:hover {
    color: #CC976D;
}

.violet {
    border: solid 1px #CC976D;
    background-color: #C08282;
    background: -moz-linear-gradient(top, #C08282 0%, #5D4954 100%);
    background: -webkit-linear-gradient(top, #C08282 0%, #5D4954 100%);
    background: -o-linear-gradient(top, #C08282 0%, #5D4954 100%);
    background: -ms-linear-gradient(top, #C08282 0%, #5D4954 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5D4954', endColorstr='#5D4954', GradientType=0);
    background: linear-gradient(top, #C08282 0%, #5D4954 100%);
    -webkit-box-shadow: 0px 0px 1px #CC976D, inset 0px 0px 1px #FFFFFF;
    -moz-box-shadow: 0px 0px 1px #CC976D, inset 0px 0px 1px #FFFFFF;
    box-shadow: 0px 0px 1px #CC976D, inset 0px 0px 1px #FFFFFF;
}

.effect-5 {
    border-radius: 5px 50px 5px 50px!important;
    -webkit-border-radius: 5px 50px 5px 50px!important;
    -moz-border-radius-topleft: 5px!important;
    -moz-border-radius-topright: 50px!important;
    -moz-border-radius-bottomleft: 50px!important;
    -moz-border-radius-bottomright: 5px!important;
}

h4 {
    font-size: 1.5625em!important;
    font-weight: 700!important;
    color: #Fff;
}

h4.black {
    color: #4a4a4a;
}

.discount {
    width: 35%;
    padding: 10px;
}

.discount-box {
    width: 20%;
}


/* END TIMER */


/* section 2 */

.section-2.is-desktop {
    display: flex;
    justify-content: center;
}


/* testimonial  */

.testimonial-container {
    position: relative;
    width: 800px;
    min-width: 350px;
    min-height: 250px;
    padding-bottom: 40px;
    overflow: hidden;
}

.wrapper {
    width: 300%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    transition: 1s;
}

.card {
    width: 800px;
    float: left;
    margin: 47px 0 0 0;
    min-height: 100%;
    background-color: #f2f2f2!important;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1px dotted #0b558b;
}

.card-thumb {
    width: 70%;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}

.client-img {
    width: 100%;
    object-fit: cover;
}

.client-name {
    padding: 5px 20px;
    background: #fff;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
}

.card-body {
    width: 641px;
    float: left;
    position: relative;
    padding-bottom: 10px;
}

.review {
    font-size: 15px;
    line-height: 25px;
    margin-top: 30px;
    font-style: italic;
}

.rating {
    bottom: 10px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

span#is-normal {
    font-style: normal;
}

.indicators {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.indicators button {
    background: none;
    border: none;
    outline: none;
    width: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    margin-left: 5px;
    transition: .5s;
}

button.active {
    border-radius: 50px;
    background: #fff;
}

.star {
    width: 30%;
}

.star.is-right {
    padding: 0 15px 0 0;
}


/* section 3 */

div.column.is-bordered {
    border: 1px solid #000;
}

div.column.is-bold {
    font-weight: bold;
    border: 1px solid #000;
}

.columns:not(:last-child) {
    margin-bottom: 0!important;
}

.table-h2 h2 {
    font-size: 25px;
    text-align: center;
    margin: 25px 0;
    font-weight: 600;
}

.section-3.is-mobile {
    display: none!important;
}

.table-box {
    display: flex;
    text-align: center;
}

.table-box .column {
    font-size: 13px;
    padding-right: 5px;
    padding-left: 5px;
}

.column .is-bordered .is-12 {
    width: 10%;
}

.section-3 .is-desktop .container {
    width: 1030px;
    margin: 0 auto;
    padding: 0;
}

.section-3.is-desktop {
    background: url(../images/sec3-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
}

.section-3.is-mobile {
    background: url(../images/woman-2-mobile.jpg) center bottom no-repeat;
}

.sec3-left {
    width: 641px;
    float: left;
    margin: 75px 0 0 0;
    position: relative;
}

.desktop-injection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffffbf;
}


/* section 4*/

.section-4.is-desktop {
    margin-top: 100px;
    float: none;
    width: auto;
    display: flex;
    align-items: center;
}

.section-4.container {
    margin: 0!important;
}

.sec4-center {
    float: right;
    margin: 30px 0 0 0;
}

.sec4-rgt-txt1 {
    font-size: 24px;
    color: #005379;
    font-weight: 700;
    text-transform: uppercase;
}

.sec4-rgt-txt2 {
    font-size: 18px;
    color: #515151;
    font-weight: 500;
    line-height: 25px;
}

.no-injection-img {
    display: flex;
    justify-content: center;
}

.mobile-section {
    display: none;
}

.column.injection {
    margin-top: 20px;
}

.columns.is-mobile>.column.is-12 {
    background-color: whitesmoke;
}

.column.is-5.desktop-injection {
    display: flex;
}


/* progress bar */

.bar-holder {
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 0 auto;
}

.bar-txt {
    margin-top: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.bar-1 {
    width: 89%;
    background-color: rgb(216, 51, 87);
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    font-weight: 400;
}

.bar-2 {
    width: 91%;
    background-color: rgb(29, 146, 121);
    color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    font-weight: 400;
}

.bar-3 {
    width: 100%;
    color: #fff;
    background-color: rgb(55, 132, 184);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-align: center;
    font-weight: 400;
}


/* section 5*/

.section-5.is-desktop {
    margin-top: 50px;
}

.section-5.is-mobile {
    display: none;
}


/* before-after */

.foto_block_title span {
    color: red;
}

.foto_container_img {
    float: left;
    display: inline-block;
    width: 16.64%;
}

.wrap {
    margin: 0 auto;
    width: 100%;
}

.strip1 {
    float: left;
    background: url(../images/backgr.jpg) no-repeat center top;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#cream-section {
    float: left;
    background: url(../images/backgr-2.jpg) no-repeat center top;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.strip-txt1.sc-1 {
    color: #fff;
    font-family: 'Source Serif Pro', serif;
}

.strip-txt1#small-txt {
    font-size: 22px;
}

#disclaimer {
    font-size: 12px;
    text-transform: none;
    text-align: left;
}

.strip2 {
    float: left;
    background: url(../images/strip1.jpg) no-repeat center top;
    background-size: cover;
    width: 100%;
}

.strip2.skin {
    float: left;
    background: url(../images/backgr3.jpg) no-repeat center top;
    background-size: cover;
    width: 100%;
}

.strip-txt1.is-bigger {
    font-size: 50px;
}

.strip1.second-backgr {
    background: url(../images/backgr2.jpg) no-repeat center top;
    background-size: cover;
}

.strip1-mobile.second-backgr {
    background: url(../images/backgr-mobile2.jpg) no-repeat center top;
    padding: 20px 0;
    background-size: cover;
}

#cream-section-mobile {
    background: url(../images/backgr-mobile-2.jpg) no-repeat center top;
    padding: 20px 0;
    background-size: cover;
}

.columns.orders {
    display: flex;
}

.strip3 {
    float: left;
    background-color: #000;
    color: #ffffff;
    width: 100%;
}

.btn-container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-container.padding-30 {
    padding: 30px 0;
}

#width-1000 {
    padding: 30px 0;
    background-size: cover;
}

.delivery-img {
    margin: 15px 0;
    width: 40%;
    padding: auto;
}

.column.order {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.column.order.column {
    padding: 0;
}

.column.is-right.ayra {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

img.ayra-product {
    width: 85%;
}

.column.is-two-fifths.img-box {
    display: flex;
}

.column.is-half.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-wrap.no-margin {
    margin: 0;
}

.order-img {
    width: 10%;
}

.strip {
    display: flex;
    justify-content: center;
    align-items: center;
}

.strip-txt1 {
    color: #000!important;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.pulse1 {
    background-color: #fff;
    color: #494949;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    width: 200px;
    border: none;
    box-shadow: 0 0 0 0 #494949;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 2px solid #000;
}

.pulse1.is-blue {
    background-color: #005379;
    color: #ffffff;
}

.pulse1.is-bigger {
    background-color: #005379;
    width: 200px;
    color: #ffffff;
}

.order-section.is-mobile {
    display: none;
}

.mlobile-txt1 {
    font-size: 25px;
    color: #fff;
}


/* section 6 */

#background {
    background: url(../images/woman-3-desktop.jpg) no-repeat;
    width: 100%;
}

.sec6-right2 {
    width: 900px;
    float: right;
    position: relative;
}

.sec6-txt3 {
    padding: 0 0 0 0;
    font-family: 'Glypha LT Std';
    font-weight: 100;
    font-size: 54px;
    color: #000000;
    line-height: 48px;
    margin-top: 20px;
}

.sec6-txt4 {
    padding: 0 0 0 0;
    font-family: 'Glypha LT Std';
    font-weight: 500;
    color: #5D4954;
    line-height: 60px;
}

.sec6-blue-bg {
    background-color: #C08282;
    float: left;
    margin: 9px 0 0 -3px;
    width: 555px;
    border-radius: 50px;
}

.blu-txt2 {
    float: left;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    padding: 19px 0 0 0;
    width: 82%;
}

.clearall {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 1px;
}

.blu-txt3 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    padding: 9px 0 0 0;
}

.sec6-icon-list {
    float: left;
    border-top: 1px solid #dfdfdf;
    width: 86%;
    margin: 8px 0 0 0;
}

ul {
    list-style: none;
}

.sec6-list li {
    background: url(../images/icon-01.png) no-repeat left;
    padding: 10px 5px 1px 46px;
    line-height: 26px;
    float: left;
}

.sec6-list li:nth-child(2) {
    background: url(../images/icon-02.png) no-repeat left;
}

.sec6-list li:nth-child(3) {
    background: url(../images/icon-03.png) no-repeat left;
}

.sec6-sky-p1 span {
    color: #c08282;
    text-transform: uppercase;
    font-weight: bolder;
}

.sec6-sky-p1 {
    color: #515151;
    font-size: 18px;
    padding-right: 30px;
    margin-left: 50px;
}


/* section-6 is-mobile */

#mobile-woman-img.section-6.is-mobile {
    display: none;
}

#mobile-woman-img {
    background: url(../images/woman-3-mobile.jpg) center no-repeat;
    padding: 30px;
    display: flex;
    justify-content: center;
}

#mobile-woman-img .container {
    box-sizing: unset;
}


/* section 7 */

.section-7.is-desktop {
    background: linear-gradient( 45deg, #C08282, #5D4954);
}

.column.is-one-quarter,
.column.is-one-quarter-tablet {
    width: 40%!important;
}

.sec7-txt1 {
    font-size: 70px;
    color: #000;
    padding: 50px 0 0 0;
    font-family: 'Glypha LT Std';
    font-weight: 300;
    text-align: center;
    line-height: 48px;
}

.sec7-txt2 {
    font-size: 70px;
    color: #5D4954;
    padding: 0 0 0 0;
    font-family: 'Glypha LT Std';
    font-weight: 500;
    text-align: center;
    line-height: 60px;
}

.sec7-bg {
    background-color: #C08282;
    margin: 10px auto;
    text-align: center;
    width: 700px;
    border-radius: 50px;
}

.sec7-bg.is-small {
    width: 300px;
}

.sec7-bg .blu-txt1 {
    padding: 0;
}

.blu-txt1 {
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.blu-txt1.no-flex {
    display: inherit;
}

.blu-txt1#no-spaced {
    display: inherit;
}

.blu-txt1#flex {
    display: inherit;
}

.sec7-list,
.sec7-list-rgt {
    float: left;
    margin: 28px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.sec7-list-p1 {
    text-align: center;
    font-size: 23px;
    color: #5fccff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 0 0 7px;
}

.sec7-list-p2 {
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 24px;
    padding: 8px 0 0 0px;
    margin: 0 0 0 0px;
}

ul.sec7-list div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec7-list li {
    margin: 0 15px 0 15px;
}

.section-7.is-desktop {
    padding-bottom: 100px;
}


/* section 8 */

.section-8 {
    background: url(../images/dr-desktop.jpg) center no-repeat;
    width: 100%;
    background-position: top;
    background-size: cover;
}

.container {
    width: 1030px;
    margin: 0 auto;
    padding: 0;
}

.sec8-left {
    float: left;
    margin: 100px 0 0 0;
    width: 500px;
    position: relative;
}

.sec8-left-background {
    background-color: #C08282;
}

.sec8-seal2 {
    left: 62px;
    position: absolute;
    z-index: 999;
    width: 38%;
}

.seal8-txt1 {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0px 10px;
}

.seal8-txt2 {
    color: #fff;
    font-size: 18px;
    padding: 0px 10px;
    line-height: 21px;
}

.bottle4 {
    width: 300px;
    float: right;
    margin-top: -500px;
    margin-right: -82px;
}

.sec8-rgt {
    float: right;
    width: 630px;
    margin: 63px 0px 0 0;
}

#is-black {
    color: #000;
}

.blu-txt2 {
    float: left;
    font-size: 18px;
    line-height: 24px;
    color: #515151;
    padding: 19px 0 0 0;
    width: 82%;
}

.btl-sec {
    background: url(../images/single-bottle1.png) no-repeat left;
    margin: 34px 0 -9px 60px;
    float: left;
}

.btl-sec:nth-child(2) {
    background: url(../images/single-bottle2.png) no-repeat left;
}

.btl-sec:nth-child(3) {
    background: url(../images/single-bottle3.png) no-repeat left;
}

.btl-sec:nth-child(4) {
    background: url(../images/single-bottle4.png) no-repeat left;
}

.btl-p2 {
    color: #515151;
    line-height: 24px;
    color: #515151;
    margin-left: 70px;
}

.before-sec {
    float: left;
    background: url(../images/before.png) no-repeat left top;
    height: 210px!important;
    margin: 15px 0 0 35px;
}

.before-p1 {
    color: #515151;
    line-height: 24px;
    padding: 47px 35px 0 308px;
}

.before-p2 {
    padding: 47px 35px 0 308px;
}

.sec8-blue-bg {
    background-color: #C08282;
    float: left;
    margin: 9px 0 0 -3px;
    width: 555px;
    border-radius: 50px;
}

.bs1 {
    background: url(../images/single-bottle1.png) no-repeat;
    padding: 20px 15px 1px 46px;
}


/* section 8 mobile */

.section-8.is-mobile {
    display: none;
    background: url(../images/dr-mobile.jpg) center center no-repeat;
}


/* section 9 desktop */

.section-9 {
    background: url(../images/sec9-bg.jpg) center top no-repeat;
    float: left;
    width: 100%;
    padding: 10px 0 0 0;
}

.section-9.is-desktop {
    margin-bottom: 20px;
    background-size: cover;
}

.round-1 {
    width: 30%;
    float: left;
    margin: 21px -54px 0 51px;
    text-align: center;
}

.round-p1 {
    color: #5D4954;
    font-size: 23.89px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 0 0 13px;
}

.round-p2 {
    color: #515151;
    font-size: 17.98px;
    line-height: 24px;
    padding: 7px 0 0 15px;
    width: 67%;
    margin: 0 auto;
}


/* section 10 desktop */

.testimoal-sec {
    margin-top: 50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.section-10.is-desktop {
    float: left;
    width: 100%;
    padding: 0px 0 0 0;
    position: relative;
}

.sec10-bg {
    background-color: #C08282;
    margin: 10px auto;
    text-align: center;
    width: 510px;
    border-radius: 50px;
}

#before-after {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face-sec,
.face-sec-rgt {
    float: left;
    border: 1px dashed #5D4954;
    margin: 72px 0 -3px 0;
    border-radius: 30px;
    background: #fff;
}

.face-sec2 {
    width: 100%;
    background: #5D4954;
    border-radius: 30px 30px 0 3px;
}

.face-1 {
    float: left;
    margin: -49px 0 0 30px;
}

.fc-side {
    float: right;
    margin: 58px 40px 0 0;
}

.sec10-txt1 {
    font-size: 15px;
    color: #515151;
    line-height: 24px;
    width: 86%;
    margin: 17px auto;
    text-align: center;
}

.skysec {
    width: 100%;
    background: #5D4954;
    color: #fff;
    float: left;
    margin: -7px 0 14px 0;
    border-radius: 1px 1px 8px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-p1 {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    padding: 2px 10px 0 50px;
    float: left;
    margin: 0px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star2 {
    margin: 0 10px 0 0;
    width: 20%;
    height: auto;
}

.stars {
    font-weight: 700;
    color: #fff;
}

.face-sec-rgt {
    float: right;
}


/* section 11 desktop */

.section-11 {
    float: left;
    width: 100%;
    padding: 10px 0 50px 0;
    margin-top: 50px;
}

.sec11-bg {
    background-color: #C08282;
    margin: 10px auto;
    text-align: center;
    width: 600px;
    border-radius: 50px;
}

.sec11-rght {
    float: right;
    width: 633px;
    float: right;
    margin: 46px 0 0 0;
}

.btl-sec-6 {
    margin: 80px 0 -55px 212px;
}

.btl-p1 {
    font-size: 24px;
    color: #5D4954;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 70px;
}

.btl-p2 {
    color: #000;
    line-height: 24px;
    padding: 0 0 0 5px;
}

.btl-p2.no-margin,
.btl-p1.no-margin {
    margin: 0;
}

.textOverImage {
    position: relative;
    width: 100%;
    height: 300px;
    float: left;
    margin: 4px;
    background-position: center;
    transition: 0.5s;
}

.textOverImage:hover {
    background-size: 110%;
}

.textOverImage:after {
    position: absolute;
    top: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: pre-wrap;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 0 8px;
    content: attr(data-text);
    transition: 0.5s;
    font-size: 20px;
}

.textOverImage:hover:after {
    top: 0;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.6);
}

.textOverImage::first-line {
    color: #fff!important;
    font-weight: bold!important;
    font-size: 35px!important;
}

.policy {
    text-align: center;
}

footer {
    margin-bottom: 20px;
}


/* RESPONSIVE */

@media screen and (max-width: 1700px) {
    .container-fluid {
        padding: 0 10px;
    }
    .sec1-list-item {
        margin: 40px 0 0 50px;
    }
}

@media screen and (max-width: 1600px) {
    .sec6-right2 {
        width: 700px;
    }
}

@media screen and (max-width: 1300px) {
    .section-8.is-desktop {
        display: none;
    }
    .section-8.is-mobile {
        display: block;
    }
    #background {
        display: none;
    }
    #mobile-woman-img.section-6.is-mobile {
        display: block;
    }
    .container-fluid {
        padding: 0;
    }
    .btl-sec,
    .btl-sec.bs2,
    .btl-sec.bs3 {
        background: none;
        margin: 20px 0;
        float: none;
    }
    .btl-sec:nth-child(2) {
        background: none;
    }
    .btl-sec:nth-child(3) {
        background: none;
    }
    .btl-sec:nth-child(4) {
        background: none;
    }
    .single-bottle {
        float: left;
    }
    .btl-p2 {
        margin-left: 0;
    }
    .before-sec {
        margin: 0;
    }
    .discount-box {
        width: 80%;
    }
    .discount-box #counter {
        display: block;
    }
    .columns.is-centered {
        display: flex;
        flex-direction: column;
    }
    .columns:not(.is-desktop) {
        padding-bottom: 40px;
    }
    .discount {
        width: auto;
    }
    .cream-image img {
        width: auto;
    }
    .order-button {
        display: flex;
        justify-content: center;
    }
    .mobile-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .sec6-blue-bg {
        margin: 9px 0 0 50px;
    }
}

@media screen and (max-width: 1200px) {
    .before-p1 {
        width: 65%;
    }
    .delivery-img {
        width: 50%;
    }
    .column.is-half.text-box {
        width: 70%;
    }
}

@media screen and (max-width: 1000px) {
    div.section-1.is-desktop {
        display: none!important;
    }
    div.section-1.is-mobile {
        display: block!important;
    }
    .column.is-one-fifth,
    .column.is-one-fifth-tablet {
        width: 100%!important;
    }
    .sec1-list-item {
        margin: auto;
    }
    .sec1-txt1 {
        padding: 7px 0 0 0px;
    }
    .sec1-txt2 {
        padding: 2px 0 0 0px;
        margin-bottom: 20px;
    }
    h2.sale {
        padding: 0 20px;
    }
    .top-bar,
    .section-1,
    .section-2,
    .section-3,
    .section-4,
    .section-5,
    .section-6,
    .section-7,
    .section-8,
    .section-9 {
        min-width: auto;
    }
    .card {
        display: flex;
    }
    .client-img {
        width: 70%;
    }
    .card-thumb {
        display: flex;
        justify-content: center;
    }
    .client-name {
        right: 95px;
    }
    .section-3 .is-desktop {
        display: none;
    }
    .section-3.is-mobile {
        display: block!important;
    }
    .section-3.is-desktop {
        display: none;
    }
    .methods-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mobile-section {
        display: block;
    }
    .order-section.is-desktop {
        display: none;
    }
    .order-section.is-mobile {
        display: block;
    }
    .columns:not(.is-desktop) {
        display: block!important;
    }
    .column.is-12,
    .column.is-12-tablet {
        width: auto!important;
    }
    .strip.is-mobile {
        padding: 0 20px;
    }
    .mlobile-txt1 {
        font-size: 20px;
    }
    .btn-container {
        width: auto;
    }
    #mobile-icons li {
        background: url(../images/icon-01-mobile.png) no-repeat left;
    }
    #mobile-icons li:nth-child(2) {
        background: url(../images/icon-02-mobile.png) no-repeat left;
    }
    #mobile-icons li:nth-child(3) {
        background: url(../images/icon-03-mobile.png) no-repeat left;
    }
    .sec6-list li {
        padding: 10px 0px 0px 0px;
    }
    .sec7-list {
        display: block;
    }
    .container.sec-8 {
        padding: 0 10px;
    }
    .testimoal-sec {
        display: flex;
        justify-content: center;
        margin-top: 0;
    }
    .no-injection {
        display: flex;
        justify-content: space-around;
    }
    .column.is-10 {
        background-color: #ffffffba;
    }
    .blu-txt2 {
        margin: 10px 0;
    }
    p.blu-txt2.no-margin {
        margin: 0;
    }
    .section-10.is-mobile {
        display: block;
    }
    .columns.is-desktop.no-mobile {
        display: none;
    }
    .section {
        padding: 0!important;
    }
    .top-bar.warning.is-desktop,
    .top-bar.is-desktop {
        display: none;
    }
    .top-bar.warning.is-mobile {
        display: block;
    }
    .customerservice {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    #counter {
        margin-top: 30px
    }
    .seal {
        top: auto;
        left: auto;
    }
    .strip1-mobile img {
        width: 30%;
    }
    .columns.is-desktop.is-flex {
        display: flex;
        flex-direction: column;
    }
    .ingredien {
        width: 15%;
    }
    .sec7-txt1 {
        padding: 50px 0 0 0;
    }
    .section-11 {
        margin-top: 0px;
        padding: 10px 0 0px 0;
    }
    button.button.effect-5 {
        height: 0.1em;
    }
    .textOverImage {
        height: 220px;
    }
    .textOverImage:after {
        top: 85%;
        font-size: 18px;
    }
    .header-sec1-text4 {
        font-size: 40px;
    }
    .card {
        margin: 0;
    }
    .testimonial-container {
        padding-bottom: 0;
    }
    .header-sec1-text3 {
        margin: 10px 0 10px 0;
    }
    .strip2 {
        padding: 10px 0;
    }
    .strip-txt1 {
        font-size: 40px;
        margin-bottom: 15px;
    }
    .section-7.is-desktop {
        padding-bottom: 20px;
    }
    .sec7-txt1 {
        padding: 20px 0 0 0;
    }
    #mobile-woman-img {
        padding: 15px;
    }
    .round-p2 {
        width: 100%;
        text-align: justify;
        padding: 0 15px;
    }
    .sec7-list,
    .sec7-list-rgt {
        margin: 0;
    }
    .round-p2 {
        font-size: 15px;
        line-height: 22px;
    }
}

@media screen and (max-width: 900px) {
    .before-p1 {
        width: 100%;
    }
    .section-9.is-desktop {
        margin-bottom: 40px;
    }
    .round-1 {
        width: 100%;
        margin: 21px 0 0 0;
    }
}

@media screen and (max-width: 800px) {
    .sec1-list-item {
        margin: auto;
    }
    .sec1-txt1 {
        padding: 7px 0 0 0px;
    }
    .sec1-txt2 {
        padding: 2px 0 0 0px;
        margin-bottom: 20px;
    }
    div.top-bar.warning p {
        font-size: 20px;
    }
    .top-bar img {
        width: 20%;
    }
    .mobile-header-text {
        padding: 0 5px;
    }
    .wrapper {
        width: 100%;
    }
    .card-body {
        width: auto;
    }
    .mobile-cream-image img {
        max-width: 65%;
    }
    img.seal {
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .foto_container_img {
        width: 50%;
    }
    .blu-txt2 {
        width: 100%;
    }
    .sec7-bg {
        width: auto;
    }
    .blu-txt1 {
        padding: 5px 15px 0 0px;
    }
    .before-p1 {
        line-height: 20px;
        width: 95%;
    }
    .order-section-1.is-desktop {
        display: none;
    }
    .order-section-1.is-mobile {
        display: block;
    }
    div.order-section-2.is-desktop {
        display: none;
    }
    div.order-section-2.is-mobile {
        display: block;
    }
    .strip2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .section-5.is-desktop {
        display: none;
    }
    .section-5.is-mobile {
        display: block;
    }
    .foto_container {
        display: flex;
        flex-wrap: wrap;
    }
    #top {
        top: -30px;
    }
    #small-txt {
        font-size: 14px;
        padding: 10px 0;
    }
    .delivery-img {
        max-width: 100%;
    }
    .header-sec1-text3,
    .sec6-txt3,
    .sec6-txt4,
    .sec7-txt1,
    .sec7-txt2 {
        font-size: 36px;
        line-height: 40px;
    }
    .sec6-txt3.sec4bgtxt,
    .sec6-txt3 {
        text-align: center;
    }
    button.button.size {
        font-size: 0.7em;
    }
    .card-thumb {
        width: 1600px;
    }
    .black-stars {
        width: 50%!important;
        margin-bottom: 0!important;
    }
    .flex {
        margin-top: 15px;
    }
    .discount-box {
        width: 100%;
        margin: 0 10px;
    }
    .mobile-child-inf,
    .is-none {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .testimonial-container {
        min-width: auto;
        min-height: auto;
    }
    .strip1-mobile img {
        width: 55%;
        margin-bottom: 15px;
    }
    .seal {
        margin-top: 0;
    }
    .sec6-blue-bg {
        margin: 9px 0 0 20px;
    }
}

@media screen and (max-width: 600px) {
    .mobile-cream-image {
        top: -150px;
    }
    .mobile-cream-image img {
        max-width: 70%;
    }
    .column.is-offset-1,
    .column.is-offset-1-tablet {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-sec1-text3 {
        font-size: 30px;
    }
    #mobile-woman-img .sec6-txt3 {
        font-style: 45px;
    }
    #mobile-woman-img .sec6-txt4 {
        font-style: 50px;
    }
    .sec6-sky-p1 {
        font-size: 16px;
    }
    .blu-txt1 {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-container {
        padding: 30px;
    }
    .before-p1 {
        line-height: 23px;
        width: 100%;
    }
    .before-sec {
        margin: 15px 0 0 0px;
    }
    .sec8-blue-bg,
    .sec10-bg {
        width: 400px;
    }
    .sec7-bg.is-small {
        width: 220px;
    }
    p.before-p1 {
        padding: 0;
    }
    .before-sec {
        background: url(../images/before.png) no-repeat top;
        display: flex;
        flex-direction: column-reverse;
        margin: 0!important;
    }
    .strip-txt1.sc-1 {
        text-align: center;
    }
    .strip1-mobile img {
        width: 70%;
        margin-bottom: 20px;
    }
    .strip-txt1 {
        text-align: center;
    }
    .wrap-button {
        margin-top: 15px;
    }
    .button .effect-5 {
        height: 1.5em!important;
    }
    .header-sec1-text4 {
        font-size: 30px;
    }
    .sec6-blue-bg {
        width: 400px;
        margin: 9px 0 0 50px;
    }
    .sec11-bg {
        width: 420px;
    }
    img.seal {
        width: 70%;
    }
    .before-sec {
        height: 280px!important;
        margin-bottom: 10px!important;
        padding: 0 103px;
    }
    .ul-row {
        padding: 0 0 30px 0;
    }
    .column.is-offset-1,
    .column.is-offset-1-tablet {
        height: 150px!important;
    }
}

@media screen and (max-width: 500px) {
    .header-sec1-text1 {
        font-size: 20px;
    }
    .header-sec1-text2,
    .header-sec1-text3 {
        font-size: 30px;
    }
    .header-sec1-text1,
    .header-sec1-text2,
    .header-sec1-text3 {
        font-weight: 600;
        line-height: 54px;
        letter-spacing: 0;
        line-height: 35px;
    }
    .mobile-column {
        width: 100%;
    }
    .mobile-columns {
        display: flex;
        flex-direction: column;
    }
    .column .is-2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile-introduce .mobile-columns {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .column .is-offset-1 {
        height: 100px!important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .seal {
        left: auto;
    }
    .card-thumb {
        width: 100%;
    }
    .mobile-cream-image {
        top: -100px;
    }
    .blu-txt1 {
        padding: 0px;
    }
    .sec6-list li {
        line-height: 20px;
    }
    .strip-txt1 {
        font-size: 30px;
    }
    .pulse1 {
        font-size: 20px;
        height: 60px;
    }
    .section-9.is-desktop {
        margin-bottom: 20px;
    }
    .fc-side {
        display: none;
    }
    .card {
        display: flex;
        flex-direction: column;
    }
    .header-sec1-text4 {
        font-size: 25px;
    }
    .ingredien {
        width: 25%;
    }
    p.strip-txt1.sc-1 {
        font-size: 30px;
    }
    .sec10-bg {
        width: 360px;
    }
    .delivery-img {
        width: 60%;
    }
    .no-injection-img {
        display: block;
    }
    .before-sec {
        margin-bottom: 10px!important;
        padding: 0 79px;
    }
    .sec6-blue-bg {
        margin: auto;
    }
}

@media screen and (max-width: 430px) {
    .sec8-blue-bg {
        width: 350px;
        height: 55px;
    }
    .sec6-txt3 {
        font-size: 33px;
    }
    .sec11-bg {
        width: 350px;
    }
    img.seal {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .sec6-blue-bg {
        width: 300px;
    }
    .box-2 {
        margin-top: 190px;
    }
    .face-1 {
        margin: -49px 0 0 0;
    }
    .sec8-blue-bg {
        width: 270px;
    }
    .star-p1 {
        font-size: 12px;
    }
    .strip-txt1.sc-1 {
        margin-top: 0;
    }
    .box-2 {
        margin-top: 65%;
    }
    .header-sec1-text4 {
        font-size: 17px;
    }
    .mobile-column {
        margin-top: -30%;
    }
    .sec10-bg,
    .sec11-bg {
        width: 300px;
    }
    .delivery-img {
        width: 90%;
    }
    .strip1-mobile img {
        width: 90%;
    }
    #width {
        width: 80%;
    }
    .before-sec {
        height: 280px!important;
        padding: 0;
    }
    .second-child {
        display: none!important;
    }
}

@media screen and (max-width: 320px) {
    .sec6-blue-bg {
        width: 270px;
    }
}